@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f8ff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}